.otp-main {
    min-height: 60vh;
}
.otp-main h2 {
    line-height: 0;
    margin-bottom: 0;
}
.otp-main span {
    line-height: 70px;
}
.inputs {
    display: flex;
    gap: 5px;
}
.inputs input {
    height: 40px;
    width: 20px;
    border-radius: 10px;
    font-size: 22px;
    border: none;
    outline: none;
    align-items: center;
    padding-left: 10px;
}
.btn {
    cursor: pointer;
    width: 220px;
    height: 40px;
    margin-top: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: rgba(37, 128, 37, 0.526);
}